.topicon{
    width: 15px; 
    height: auto;
}



.img{
    /* position: absolute;
    align-items: center;
    display: flex; */
    display: block;
    margin: 0 auto;
}


.phone{
    padding: 12px;
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    -webkit-tap-highlight-color: rgb(255 54 54 / 0%);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    background: #f5f6f7;
    border: none;
}

.pass{
        padding: 12px;
        -webkit-appearance: none;
        box-sizing: border-box;
        width: 100%;
        font-size: 14px;
        line-height: 18px;
        -webkit-tap-highlight-color: rgb(255 54 54 / 0%);
        font-family: Helvetica, Arial, sans-serif;
        font-size: 14px;
        background: #f5f6f7;
        border: none;
        margin-top: 10px;
    }

.logo{
    margin-bottom: 15px;
}


.login{
    height: 38px;
    width: 100%;
    margin-top: 15px;
    border: none;
    background-color: #1877f2;
    color: white;
    border-radius: 3px;
}

.createac{
    height: 38px;
    width: 200px;
    margin-top: -5px;
    border: none;
    background-color: #00a400;
    color: white;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
}


.footer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}


.foot{
    font-size: 14px; color: #5d83bb;
}